{% extends "blog/base.html" %}
{% block content %}

<div class="container">
    <h1>Community Guidelines</h1>
    <p>Welcome to Audifriends! We're thrilled to have you as part of our vibrant community of music enthusiasts. To ensure that Audifriends remains a welcoming and respectful environment for all members, we've established the following Community Guidelines. By using our platform, you agree to abide by these guidelines and contribute positively to our community.</p>
    <h2>1. Respect Others</h2>
    <p>Treat fellow members with kindness, empathy, and respect. We celebrate diversity and encourage open-mindedness. Harassment, discrimination, hate speech, and any form of abusive behavior are not tolerated.</p>
    <h2>2. Keep it Civil</h2>
    <p>Engage in constructive discussions and debates while maintaining a civil tone. Disagreements are natural, but personal attacks, insults, and trolling detract from meaningful conversation and will be addressed accordingly.</p>
    <h2>3. Content Guidelines</h2>
    <p>Ensure that all content shared on Audifriends complies with copyright laws and respects intellectual property rights. Avoid posting spam, misleading information, or content that is inappropriate, offensive, or infringes upon the rights of others.</p>
    <h2>4. Privacy and Safety</h2>
    <p>Respect the privacy and safety of others. Refrain from sharing personal information without consent and report any behavior that may compromise the security of our community members.</p>
    <h2>5. Reporting and Enforcement</h2>
    <p>If you encounter any violations of these Community Guidelines or witness behavior that concerns you, please report it to our moderation team. We take all reports seriously and will investigate and take appropriate action as necessary.</p>
    <h2>6. Consequences of Violations</h2>
    <p>Failure to adhere to these guidelines may result in disciplinary action, including warnings, account suspension, or permanent bans. We reserve the right to enforce these guidelines at our discretion to maintain the integrity and safety of our community.</p>
    <p>Thank you for being an integral part of the Audifriends community. By upholding these Community Guidelines, you contribute to creating a positive and inclusive space where everyone can share their passion for music freely.</p>
    <p>If you have any questions or concerns about these guidelines, please don't hesitate to <a href="/contact">contact us</a>.</p></div>
{% endblock content %}
